apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx-app
spec:
  replicas: 3                     # Run 3 replicas (Pods)
  selector:
    matchLabels:
      app: nginx-app                  # Must match template labels
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx-container
          image: nginx:latest
          ports:
            - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx-app
spec:
  selector:
    app: nginx-app                    # Must match Deployment label
  ports:
    - protocol: TCP
      port: 80                    # Port exposed by Service
      targetPort: 80              # Port inside the Pod container
  type: NodePort                  # Options: ClusterIP, NodePort, LoadBalancer
